#### List Functions!

In [1]:
inventory = ["twin bed", "twin bed", "headboard", "queen bed", "king bed", "dresser", "dresser", "table", "table", "nightstand", "nightstand", "king bed", "king bed", "twin bed", "twin bed", "sheets", "sheets", "pillow", "pillow"]

In [3]:
# how many items are in the warehouse?
inventory_len = len(inventory)
print(inventory_len)

19

In [5]:
# Select first and last  
first = inventory[0]
last = inventory[-1]

print ("First element is: " + first + ", and the last one is: " + last)

First element is: twin bed, and the last one is: pillow

In [6]:
# Selecting items starting at index 2 and up to index 6.
inventory_2_6 = inventory[2:6]
print(inventory_2_6)

['headboard', 'queen bed', 'king bed', 'dresser']

In [8]:
# Selecting first 3 items
first_3 = inventory[:3]
print(first_3)

['twin bed', 'twin bed', 'headboard']

In [9]:
# How many 'twin bed's are?
twin_beds = inventory.count('twin bed')
print(twin_beds)

4

In [10]:
# Removing the 5th element in the inventory
removed_item = inventory.pop(4)
print(removed_item)

king bed

In [12]:
# Adding new item and placing it as the 11th element in the list
inventory.insert(10, "New item")
print(inventory)

['twin bed', 'twin bed', 'headboard', 'queen bed', 'dresser', 'dresser', 'table', 'table', 'nightstand', 'nightstand', 'New item', 'New item', 'king bed', 'king bed', 'twin bed', 'twin bed', 'sheets', 'sheets', 'pillow', 'pillow']

In [13]:
# Sorting
inventory.sort()
print(inventory)

['New item', 'New item', 'dresser', 'dresser', 'headboard', 'king bed', 'king bed', 'nightstand', 'nightstand', 'pillow', 'pillow', 'queen bed', 'sheets', 'sheets', 'table', 'table', 'twin bed', 'twin bed', 'twin bed', 'twin bed']

In [15]:
test = [2, 4, 6, 2, 3, 2, 1, 2]
test.count(2)

4

### Insurance Costs and Lists
We have stored a name and insurance costs lists.

In [2]:
#  Random example
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]

# Adding a new person 
names.append("Priscilla")
insurance_costs.append(8320)

print(insurance_costs)

[13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0, 8320]

In [3]:
# Currently, the names and insurance costs lists are separate, but we can actually look at them together! 
medical_records = list(zip(names, insurance_costs))
print(medical_records)

[('Mohamed', 13262.0), ('Sara', 4816.0), ('Xia', 6839.0), ('Paul', 5054.0), ('Valentina', 14724.0), ('Jide', 5360.0), ('Aaron', 7640.0), ('Emily', 6072.0), ('Nikita', 2750.0), ('Paul', 12064.0), ('Priscilla', 8320)]

In [4]:
# How many medical records we have?
num_medical_records  = len(medical_records)
print("There are", num_medical_records, "medical records")

There are 11 medical records

In [5]:
# Saving first medical record in a new variable
first_medical_record = medical_records[0]
print("Here is the first medical record:", first_medical_record)

Here is the first medical record: ('Mohamed', 13262.0)

In [6]:
# If we would like to sort the list by insrance cost (ascending) we would have a few different options.. 
# Function to sort the list by second item of tuple
def sort_tuple(tup): 
  tup.sort(key = lambda x: x[1]) 
  return tup
print ("Here are the medical records sorted by insurance cost: ", sort_tuple(medical_records))

Here are the medical records sorted by insurance cost:  [('Nikita', 2750.0), ('Sara', 4816.0), ('Paul', 5054.0), ('Jide', 5360.0), ('Emily', 6072.0), ('Xia', 6839.0), ('Aaron', 7640.0), ('Priscilla', 8320), ('Paul', 12064.0), ('Mohamed', 13262.0), ('Valentina', 14724.0)]

In [7]:
# Cheapest and 3 more expensives insurance costs
cheapest_three = medical_records[:3] 
print('Here are the three cheapest insurance costs in our medical records:', cheapest_three)

priciest_three = medical_records[-3:] 
print('Here are the three most expensive insurance costs in our medical records:', priciest_three)

occurrences_paul = names.count("Paul")
print("There are",occurrences_paul, "individuals with the name Paul in our medical records.")

Here are the three cheapest insurance costs in our medical records: [('Nikita', 2750.0), ('Sara', 4816.0), ('Paul', 5054.0)]
Here are the three most expensive insurance costs in our medical records: [('Paul', 12064.0), ('Mohamed', 13262.0), ('Valentina', 14724.0)]
There are 2 individuals with the name Paul in our medical records.