Cleaning data with lists! 

* Following medical data is fake

In [14]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""

In [15]:
# print(medical_data)

# Representing insurance costs in US dollars
updated_medical_data = medical_data.replace('#', '$')
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

In [16]:
# Calculating the number of medical records
num_records = 0

for record in updated_medical_data:
  if record == '$': 
    num_records += 1

print('There are ' + str(num_records) + ' medical records in the data.')

There are 10 medical records in the data.

In [17]:
# Cleaning the data
medical_data_split = updated_medical_data.split(';')
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

In [18]:
medical_records = []
for data in medical_data_split:
  medical_records.append(data.split(','))
print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

In [19]:
medical_records_clean = []
for record in medical_records:
  record_clean = []
  for item in record: 
    record_clean.append(item.strip())
  medical_records_clean.append(record_clean)

print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

In [20]:
# Let's say we need all names to be upper case... 
for record in medical_records_clean:
  record[0] = record[0].upper()
  print(record[0])

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

In [21]:
# Separating the data types to perform basic numeric analysis
names = []
ages = []
bmis = []
insurance_costs = []

for record in medical_records_clean :
  names.append(record[0])
  ages.append(record[1])
  bmis.append(record[2])
  insurance_costs.append(record[3])

print(names)
print(ages) 
print(bmis) 
print(insurance_costs)

['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']
['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']
['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']
['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

In [23]:
total_bmi = 0 
for bmi in bmis:
  bmi_float = float(bmi)
  total_bmi += bmi_float 

print('The total BMI is: ' + str(total_bmi))

average_bmi = total_bmi / len(bmis)
print('Average BMI: ' + str(average_bmi))

The total BMI is: 258.3
Average BMI: 25.830000000000002

In [25]:
# print(insurance_costs) 
total_insurance_costs = 0 
for cost in insurance_costs:
  cost = cost[1:len(cost)]
  total_insurance_costs += float(cost) 
  
# print(total_insurance_costs)
average_insurance_costs = total_insurance_costs / len(insurance_costs)

print('Average insurance cost is: $' + str(average_insurance_costs))

Average insurance cost is: $8390.7

In [26]:
# Printing all records :) 
print('---------------------')

for record in medical_records_clean:
  print(record[0] + ' is ' + str(record[1]) + ' years old with a BMI of ' + str(record[2]) + 'and an insurance cost of ' + str(record[3]))

---------------------
MARINA ALLISON is 27 years old with a BMI of 31.1and an insurance cost of $7010.0
MARKUS VALDEZ is 30 years old with a BMI of 22.4and an insurance cost of $4050.0
CONNIE BALLARD is 43 years old with a BMI of 25.3and an insurance cost of $12060.0
DARNELL WEBER is 35 years old with a BMI of 20.6and an insurance cost of $7500.0
SYLVIE CHARLES is 22 years old with a BMI of 22.1and an insurance cost of $3022.0
VINAY PADILLA is 24 years old with a BMI of 26.9and an insurance cost of $4620.0
MEREDITH SANTIAGO is 51 years old with a BMI of 29.3and an insurance cost of $16330.0
ANDRE MCCARTY is 19 years old with a BMI of 22.7and an insurance cost of $2900.0
LORENA HODSON is 65 years old with a BMI of 33.1and an insurance cost of $19370.0
ISAAC VU is 34 years old with a BMI of 24.8and an insurance cost of $7045.0